# Kaggle: Predict Future Sales

## Goal: predict total sales for every product and store in the next month.

In [94]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import seaborn as sns
from itertools import product

## Load Data

In [95]:
item_df = pd.read_csv('./future-sales/items.csv')
item_cat_df = pd.read_csv('./future-sales/item_categories.csv')
shop_df = pd.read_csv('./future-sales/shops.csv')
train = pd.read_csv("./future-sales/sales_train.csv")
test = pd.read_csv("./future-sales/test.csv")

## Check Missing value and outlier

In [96]:
item_df.isnull().sum(), item_cat_df.isnull().sum(), shop_df.isnull().sum(), train.isnull().sum()

(item_name           0
 item_id             0
 item_category_id    0
 dtype: int64,
 item_category_name    0
 item_category_id      0
 dtype: int64,
 shop_name    0
 shop_id      0
 dtype: int64,
 date              0
 date_block_num    0
 shop_id           0
 item_id           0
 item_price        0
 item_cnt_day      0
 dtype: int64)

In [97]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [102]:
# Check train data's columns type

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 134.4 MB

In [103]:
# convert date(str type) to datetime type

train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y")
# print(train_df.date[0].strftime("%m"))
# print(train_df.date[0].strftime("%Y-%m"))
train.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
2 2013-01-05               0       25     2552      899.00          -1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [104]:
# date_block_num == 34인 test의 item_cnt_month를 예측
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [105]:
print(train["item_cnt_day"].describe())  # -22 ~ 2169

count    2.935849e+06
mean     1.242641e+00
std      2.618834e+00
min     -2.200000e+01
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.169000e+03
Name: item_cnt_day, dtype: float64

In [106]:
only_test = set(test['item_id'].unique()) - set(train['item_id'].unique())
only_train = set(train["item_id"].unique()) - set(test['item_id'].unique())
print("* test only items:", len(only_test))
print("train only items:", len(only_train))

* test only items: 363
train only items: 17070

## Preprocessing

In [107]:
# check duplicated data
subset = ['date', 'date_block_num', 'shop_id', 'item_id', 'item_cnt_day']
print(train.duplicated(subset=subset).value_counts())
print("Before train shape:", train.shape)
train.drop_duplicates(subset=subset, inplace=True)
print("After train shape:", train.shape)

False    2935825
True          24
dtype: int64
Before train shape: (2935849, 6)
After train shape: (2935825, 6)

In [108]:
# remove items and shops that are not in test from train
test_shops = test.shop_id.unique()
test_items = test.item_id.unique()
print("number of shop in test data:", len(test_shops))
print("number of item in test data:", len(test_items))

# train["shop_id"].isin(test_shops).value_counts()
print("Before train shape:", train.shape)
train = train[train["shop_id"].isin(test_shops)]
train = train[train["item_id"].isin(test_items)]
print("After train shape:", train.shape)

number of shop in test data: 42
number of item in test data: 5100
Before train shape: (2935825, 6)
After train shape: (1224429, 6)

In [123]:
# Build base Dataframe
block_shop_df = pd.DataFrame(list(product(np.arange(34), test_shops)), columns=["date_block_num", "shop_id"])
shop_item_df = pd.DataFrame(list(product(test_shops, test_items)), columns=["shop_id", "item_id"])
train_base = pd.merge(block_shop_df, shop_item_df, on="shop_id", how="inner")
print(train_base.shape)

# group by monthly
train_base = pd.merge(train_base, train, on=["date_block_num", "shop_id", "item_id"], how="left")
print(train_base.shape)
train_base["item_cnt_day"].fillna(0, inplace=True)
train_base

(7282800, 3)
(7907070, 6)

         date_block_num  shop_id  item_id       date  item_price  item_cnt_day
0                     0        5     5037        NaT         NaN           0.0
1                     0        5     5320        NaT         NaN           0.0
2                     0        5     5233        NaT         NaN           0.0
3                     0        5     5232        NaT         NaN           0.0
4                     0        5     5268        NaT         NaN           0.0
...                 ...      ...      ...        ...         ...           ...
7907065              33       45    18454 2015-10-30        99.0           1.0
7907066              33       45    16188        NaT         NaN           0.0
7907067              33       45    15757        NaT         NaN           0.0
7907068              33       45    19648        NaT         NaN           0.0
7907069              33       45      969        NaT         NaN           0.0

[7907070 rows x 6 columns]

In [129]:
train_item_list = train["item_id"].unique()

In [ ]:
# item_price는 item_cnt_day에 영향을 준다고 생각.. NaN 값은 어떻게 처리?
# date의 NaT는 어떻게 처리?